<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="jfrogintg" value="https://kishore.jfrog.io/kishore/api/nuget/nuget-local" />
  </packageSources>
  <packageSourceCredentials>
    <jfrogintg>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="iljkishore87" />
    </jfrogintg>
  </packageSourceCredentials>
</configuration>